main {
    display:flex;
    justify-content:center;
    align-items:center;

    height: 60vh;
}

body {
    background-image: url(/static/background.png);
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: flex-end;
    justify-content: center;

}

main h1 {
    margin: 0;
    font-size: 12rem;
    color: white;
}

main h1#countdown {
    font-family: 'DSEG7-Classic';
    font-weight: bold;
}
